<!DOCTYPE configuration>

<configuration scan="true">
    <conversionRule conversionWord="crlf" converterClass="ma.digital.prospace.config.CRLFLogConverter" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />


    <!-- Property to control root logging level -->
    <springProperty name="log.level" source="logging.level.root" defaultValue="INFO" />


    <!-- Root logger configuration -->
    <ROOT level="${log.level}">
        <appender-ref ref="CONSOLE" />
    </ROOT>
</configuration>
